<app-base-modal
  [modalName]="name"
  [title]="title"
>
  <div class="confirm_modal">
    <div class="confirm_modal__context">
      <p class="confirm_modal__context_text">{{ mainText }}</p>
    </div>
    <div class="confirm_modal__buttons">
      <app-primary-button
        [label]="'Tak'"
        [type]="'button'"
        [size]="'sm'"
        (click)="actionResult.emit(modalAction.SAVE)"
      ></app-primary-button>
      <app-primary-button
        [label]="'Nie'"
        [type]="'button'"
        [size]="'sm'"
        (click)="actionResult.emit(modalAction.CANCEL)"
      >
      </app-primary-button>
    </div>
  </div>
</app-base-modal>
