.confirm_modal {
  width: 480px;
  height: 240px;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;

  &__context {
    margin-top: 8px;
    flex: 1 1 100%;
    height: calc(100% - 42px);
    display: flex;
    justify-content: center;
    align-items: center;
    &_text {
      font-size: 18px;
      text-wrap: normal;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 100%;
    gap: 16px;

    ::ng-deep {
      app-primary-button {
        .primary_button {
          font-size: 22px;
          width: 120px;
        }
      }
    }

  }
}
