@import "src/app/common/core/styles/common";


.table {
  width: calc(100vw - 336px);
  //max-width: 1120px;
  border-collapse: collapse;

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
  }

  &__overflow {
    overflow-y: overlay;
    max-height: calc(100vh - 120px);
    padding-bottom: 16px;
  }

  &__header {
    position: sticky;

    &_row {
      background: $baseColor;
      color: $white;

      &__data {
        font-size: 20px;
        line-height: 32px;

        &:first-child {
          padding-left: 8px;
        }

        &_options {
          text-align: right;
          padding-right: 8px;
          cursor: pointer;
          &:hover {
            color: $baseColorWhite70;
          }
          .pr {
            cursor: pointer;
            font-size: 12px;
          }
        }
      }

    }
  }

  &__body {
    &_row {
      border-bottom: 1px solid $baseColor;

      &:last-child {
        border-bottom: unset;
      }

      &:nth-child(2n) {
        background: $baseColorWhite80;
      }

      &__data {
        font-size: 18px;
        padding: 8px 0;

        &:first-child {
          padding-left: 8px;
        }

        &_options {
          text-align: right;
          padding-right: 8px;

          .pr {
            padding: 4px;
            cursor: pointer;

            &:hover {
              color: $baseColorDark10;
            }
          }
        }

        &--loading {
          height: 12px;
          animation: pulse 1s infinite ease-in-out;
          width: calc(100% - 2px);
          display: inline-block;
        }
      }
    }
  }
}
