<app-base-modal
  [title]="title"
  [modalName]="name"
  (isOpen)="open($event)"
  (closeModal)="close($event)"
>
  <div class="modal">
    <form [formGroup]="orderForm" class="form">
      <div class="form__array">
        <app-form-input
          [title]="'Numer zamówienia'"
          [type]="'text'"
          [fControlName]="'id'"
          [fGroup]="orderForm"
        >
        </app-form-input>
        <div>
          <label class="form__input_label">Urządzenie</label>
          <app-dropdown
            [options]="devicesList"
            [formControlName]="'deviceId'"
            [config]="{ label: 'model', id: 'deviceId'}"
          >
          </app-dropdown>
        </div>
      </div>
      <div class="form__array">
        <app-form-input
          title="Model"
          type="text"
          fControlName="model"
          [fGroup]="orderForm"
        >
        </app-form-input>
        <app-form-input
          title="Kwota"
          type="text"
          fControlName="price"
          [fGroup]="orderForm"
        >
        </app-form-input>

      </div>
      <div class="form__array">
        <div>
          <label class="form__input_label">Firma</label>
          <app-dropdown
            [options]="producersList"
            [formControlName]="'manufactureId'"
            [config]="{ label: 'model' }"
          >
          </app-dropdown>
        </div>
        <div [style.width]="'240px'"></div>
      </div>
      <div class="form__array">
        <app-text-area
          title="Opis"
          fControlName="description"
          [fGroup]="orderForm"
        >
        </app-text-area>
      </div>
      <div class="form__array">
        <app-text-area
          title="Komentarz"
          fControlName="comment"
          [fGroup]="orderForm"
        >
        </app-text-area>
      </div>

      <div class="form__array form__array--buttons">
        <app-primary-button
          [label]="'Anuluj'"
          [size]="'sm'"
          [theme]="'secondary'"
          (click)="close(modalAction.DISCARD)"
        ></app-primary-button>
        <app-primary-button
          [label]="'Dodaj'"
          [size]="'sm'"
          (click)="save()"
        ></app-primary-button>
      </div>
    </form>
  </div>
</app-base-modal>

<app-confirmation-modal
  *ngIf="isEditModal"
  [name]="editConfirmModalName"
  [title]="''"
  [mainText]="'Twoje zmiany nie zostaly napisane. Czy napewno chcesz wyjść?'"
  (actionResult)="close($event)"
>

</app-confirmation-modal>
