<app-base-modal
  [title]="title"
  [modalName]="name"
  (isOpen)="open($event)"
  (close)="close()"
>
  <div class="modal">
    <form [formGroup]="orderForm" class="form">
      <div class="form__array">
        <app-form-input
          [title]="'Numer zamówienia'"
          [type]="'text'"
          [fControlName]="'id'"
          [fGroup]="orderForm"
        >
        </app-form-input>
        <div>
          <label class="form__input_label">Urządzenie</label>
          <app-dropdown
            [options]="devicesList"
            [formControlName]="'deviceId'"
            [config]="{ label: 'model' }"
          >
          </app-dropdown>
        </div>
      </div>
      <div class="form__array">
        <app-form-input
          title="Model"
          type="text"
          fControlName="model"
          [fGroup]="orderForm"
        >
        </app-form-input>
        <app-form-input
          title="opis"
          type="text"
          fControlName="description"
          [fGroup]="orderForm"
        >
        </app-form-input>

      </div>
      <button (click)="test()">test</button>
    </form>
  </div>
</app-base-modal>

<app-confirmation-modal
  *ngIf="isEditModal"
  [name]="editConfirmModalName"
  [title]="''"
  [mainText]="'Twoje zmiany nie zostaly napisane. Czy napewno chcesz wyjść?'"
  (close)="close()"
>

</app-confirmation-modal>
