@import "src/app/common/core/styles/common";

.primary_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .3s ease-in;
  padding: 16px;
  cursor: pointer;

  &:hover, &:focus {
    background: $baseColorDark20;

  }

  &--lg {
    height: 48px;
    font-size: 24px;
    border-radius: 8px;
  }

  &--sm {
    height: 24px;
    font-size: 18px;
    border-radius: 4px;
  }

  &--primary {
    background: $baseColor;
    color: $white;
  }

  &--secondary {
    background: $white;
    color: $black;
    border: 1px solid $baseColor;

    &:hover {
      background: darken($white, 10%);
    }
  }

}
