@import "src/app/common/core/styles/common";

$borderRadius: 4px;

.modal {
  &__backdrop {
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1024;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    min-width: 300px;
    background: $baseColorWhite90;
    max-width: calc(100vh - 32px);
    border-radius: $borderRadius;
  }

  &__header {
    width: 100%;
    height: 32px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      cursor: pointer;
    }
  }
}
