$baseColor: #5AA9E6;

$baseColorDark10: #5198cf;
$baseColorDark20: #4887b8;
$baseColorDark30: #3f76a1;
$baseColorDark40: #36658a;
$baseColorDark50: #2d5573;
$baseColorDark60: #24445c;
$baseColorDark70: #1b3345;
$baseColorDark80: #12222e;
$baseColorDark90: #091117;

$baseColorWhite10: #6bb2e9;
$baseColorWhite20: #7bbaeb;
$baseColorWhite30: #8cc3ee;
$baseColorWhite40: #9ccbf0;
$baseColorWhite50: #add4f3;
$baseColorWhite60: #bdddf5;
$baseColorWhite70: #cee5f8;
$baseColorWhite80: #deeefa;
$baseColorWhite90: #eff6fd;

$black: #000000;
$white: #ffffff;

