@font-face {
  font-family: PRFont;
  src: url("../../../../assets/fonts/Pr-Font/pr-font.ttf") format('truetype'),
  url("../../../../assets/fonts/Pr-Font/pr-font.eot") format('embedded-opentype'),
  url("../../../../assets/fonts/Pr-Font/pr-font.svg") format('svg'),
  url("../../../../assets/fonts/Pr-Font/pr-font.woff") format('woff')
}

.pr {
  display: inline-block;
  font: normal normal normal 16px/1 PRFont !important;
  font-weight: 400;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pr-edit:before {
  content: "\e905";
}

.pr-delete:before {
  content: "\e9ac";
}

.pr-add:before {
  content: "\ea0a";
}

.pr-angle:before {
  content: "\e933";
}
