<app-table
  [tableHeader]="tableHeader"
  [tableData]="tableData"
  (tableAction)="openModal($event)"
></app-table>


<app-confirmation-modal
  [title]="''"
  [name]="confirmModalName"
  [mainText]="'Czy napewno chcesz usunoć to urządzenie?'"
></app-confirmation-modal>
<app-new-device-modal
  [title]="'Dodaj nowe urządzenie'"
  [name]="newModalName"
  (closeResult)="getItem()"
>
</app-new-device-modal>
<app-edit-device-modal
  [title]="'Edytuj urządzenie'"
  [name]="editModalName"
  [deviceId]="itemId"
  (closeResult)="getItem()"
>
</app-edit-device-modal>
